{% load cms_tags sekizai_tags staticfiles menu_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
      {% render_block "css" %}
      <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}" media="all" />
  </head>
  <body>

      <div id="header">
        <ul id="header-menu">
        {% show_menu 0 0 100 100 %}
        </ul>
      </div>

      {#% cms_toolbar %#}
      {% placeholder content %}
      {% block "content" %}{% endblock %}

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
      {% render_block "js" %}
  </body>
</html>
