{% load roadtrip_tags static %}

<div id="info-panel-top-bar">
  <button id="close-info-panel"><span>消失</span></button>
</div>
<div id="info-panel-title">
  <p class="title">{{ poi.name_cn }}  {{ poi.name_en }}</p>
</div>
<div id="info-panel-image">
  {% getPOIPhoto poi.id as photo %}
  <img src="{{ photo.image.url }}">
</div>
<div id="info-panel-body">
  <div id="info-panel-desc">
  {% processDescription poi.description as desc %}
  {% for p in desc %}
    <p>{{ p }}</p>
  {% endfor %}
  </div>
</div>
