{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags roadtrip_tags staticfiles %}


{% block "content" %}

{% addtoblock "css" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
{%comment%}
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
{%endcomment%}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4y5vgVMb3bcqjYsaYJzJphjJdvnJBr6U&sensor=true&language=zh"></script>
<script type="text/javascript" src="{% static "js/park.js" %}"></script>
<script type="text/javascript" src="{% static "js/infobox_packed.js" %}"></script>
<script type="text/javascript" src="{% static "js/trip.js" %}"></script>



<script type="text/javascript">

   
</script>
{% endaddtoblock %}


<div id="overlay-panel-wrapper">
  <div id="overlay-panel">
    <div>
    <div id="overlay-content">
    </div>
    </div>
  </div>
</div>

<div id='top-nav-area'>
  <div id='top-nav'>
    <ul>
      {% getParks as parks %}
      {% for park in parks %}
      <li class="park-button">
        <a class='park-name' href="./?park={{ park.id }}">{{ park.name_cn }}</a> 
      </li>
      {% endfor %}
    </ul>
    <div id="credentials">
      <ul class="logged-out">
        <li><a class="register" href="/register">注册</a></li>
        <li><a class="login" href="/login">登录</a></li>
      </ul>
    </div>
  </div>
</div>

  
{% getPark request as park %}
{% if park %}

<div>
  {% getPOIs park as pois %}
  {% for poi in pois %}
  <div class="infobox-label hidden">
    {% getPOIPhoto poi.id as photo %}
    <span class="poi-id hidden">{{ poi.id }}</span>
    <div class="infobox-label-img">
      <img src="{{ photo.get_thumbnail_url }}">
    </div>
    <div class="infobox-label-name">
      <p class="infobox-title-cn">{{ poi.name_cn }}</p>
      <p class="infobox-title-en">{{ poi.name_en }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div id="park-info">
  <span id="park-gps-coordinate">{{ park.center_gps_coordinate }}</span>
  <span id="park-zoom">{{ park.zoom }}</span>
  {% getParkMap park as map %}
  <span id="park-map-filename">{% static "img/maps/" %}{{ map.filename }}</span>
  <span id="park-map-sw-bound">{{ map.gps_southwest_bound }}</span>
  <span id="park-map-ne-bound">{{ map.gps_northeast_bound }}</span>
</div>

<div class="sidebar-poi">
  <div class="sidebar-panel-poi">
    <div id="park-image">
      <div id="park-title">
        <p class="title">{{ park.name_cn }}</p>
        <p class="title-en">{{ park.name_en }}</p>
      </div>
      <img src="http://cdn.nationalparks.org/sites/default/files/styles/park_page_image/public/yosemite_0.jpg?itok=Z63m8Syo">
    </div>

    <div id="poi-list-container">
      <div class="poi-list">
      {% getPOIs park as pois %}
      {% for poi in pois %}
        {% if poi.category == '景点' %}
        <div class="attraction-item poi-item">
        {% elif poi.category == '饭馆' %}
        <div class="food-item poi-item">
        {% elif poi.category == '住宿' %}
        <div class="hotel-item poi-item">
        {% elif poi.category == '开车' %}
        <div class="road-item poi-item">
        {% else %}
        <div class="poi-item">
        {% endif %}
          <button class="poi-button">
            <span class="poi-id">{{ poi.id }}</span>
            <p class="poi-name">{{ poi.name_cn }}</p>
            <p class="poi-name-en">{{ poi.name_en }}</p>
            <span class="coordinate">{{ poi.gps_coordinate }}</span>
          </button>
          <button class="zoom-button" >
            <img src="{% static "icon/information.svg" %}" width=25px height=25px></img>
          </button>
          <div class="poi-info">
            <div class="poi-info-button-wrapper">
              <button class="add-to-trip">加入行程</button>
              <button class="remove-from-trip">移出行程</button>
            </div>
          {% getTrails poi as trails %}
          {% if trails|length > 0 %}
            {% for trail in trails %}
              <div class="trail-item">
                <div class="trail-name">{{ trail.name_cn }}</div>
                <div class="trail-route">{{ trail.routes }}</div>
              </div>
            {% endfor %}
          {% endif %}
          </div>
        </div>
      {% endfor %}
        <div class="poi-empty-item"></div>
      </div>
    </div>
  </div>
</div>


<div id='side-nav'>
  <button class='side-nav-category' id="side-nav-attraction">
    <img class='icon-pic' src="/static/img/vintage2.svg"></img>
    <br><hl>景点</hl>
  </button>
  <button class='side-nav-category' id="side-nav-drive">
    <img class='icon-pic' src="/static/img/car75.svg"></img>
    <br><hl>赶路</hl>
  </button>
  <button class='side-nav-category' id="side-nav-hotel">
    <img class='icon-pic' src="/static/img/accomodation.svg"></img>
    <br><hl>客栈</hl>
  </button>
  <button class='side-nav-category' id="side-nav-restaurant">
    <img class='icon-pic' src="/static/img/bon1.svg"></img>
    <br><hl>饕餮</hl>
  </button>
</div>

<div class="map-nav">
  {% if map %}
  <a class="map aside-nav hidden" id="show-official-map">
    <i class="icon-nav-map"></i>
    <span class="action-label"> 官方地图 </span>
  </a>
  {% endif %}
  {% if map %}
  <a class="map aside-nav hidden" id="show-itinerary">
      <i class="icon-nav-map"></i>
      <span class="action-label"> 当前行程 </span>
  </a>
  {% endif %}
  {% if map %}
  <a class="map aside-nav hidden add-to-trip">
      <i class="icon-nav-map"></i>
      <span class="action-label"> 加入行程 </span>
  </a>
  {% endif %}
  {% if map %}
  <a class="map aside-nav hidden" id="show-direction">
      <i class="icon-nav-map"></i>
      <span class="action-label"> 显示路径 </span>
  </a>
  {% endif %}
</div>





{% comment %}
<div id='info-panel'>
  <p id='item-name'>您目前旅程：</p>
  <p>{{ message }}</p>
</div>
{% endcomment %}

<div id="map-window">
  <div id="map-canvas">
  </div>
</div>

<div id="disabled-area">
  <div id="register-view" class="session-view rt-modal-content-view">
  <div class="alert alert-error" style="display:none"></div>
  <div class="logo" id="authLogo"></div>
  <div class="signup-way">
    <h1>创建账户</h1>
    <div id="weibo-login">新浪微博登录</div>
    <div id="tencent-login">腾讯账号登录</div>

    <a href="#with-mail" id="with-mail" class="show-mail-signup button">电子邮箱注册</a>
  </div>
  <div class="email-signup">
    <h1>创建账号</h1>
    <form action="/users" data-remote="true" id="new_user" method="post">
      <div class="control-group string required">
        <input class="string required" id="user_username" name="user[username]" size="50" type="text" placeholder="请选择用户名">
        <span class="error-indicator add-on hide"><i class="icon-nav-exclamation"></i></span>
      </div>
      <div class="control-group string required">
        <input class="string required" id="user_email" name="user[email]" size="50" type="text" placeholder="你的电子邮箱">
        <span class="error-indicator add-on hide"><i class="icon-nav-exclamation"></i></span>
      </div>
      <div class="control-group password required">
        <input class="password required" id="user_password" name="user[password]" size="50" type="password" placeholder="密码">
        <span class="error-indicator add-on hide"><i class="icon-nav-exclamation"></i></span>
      </div>
      <div class="control-group password password_confirmation required">
        <input class="required password" id="user-password-confirmation" name="user[password_confirmation]" size="50" type="password" placeholder="确认密码">
        <span class="error-indicator add-on hide"><i class="icon-nav-exclamation"></i></span>
      </div>
      <div class="tos" style="display:none;">
        By creating an account I confirm that I have read and agree to the <a href="/tos" target="_blank">terms of service</a>.
      </div>
      <button name="user[create_account]" type="submit" id="user-create-account">注册</button>
    </form>
  </div></div>
</div>

{% endif %}

{% endblock %}
