{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags roadtrip_tags staticfiles %}


{% block "content" %}

{% addtoblock "css" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4y5vgVMb3bcqjYsaYJzJphjJdvnJBr6U&sensor=true&language=zh"></script>
<script type="text/javascript" src="{% static "js/park.js" %}"></script>
<script type="text/javascript" src="{% static "js/infobox_packed.js" %}"></script>
<script type="text/javascript" src="{% static "js/trip.js" %}"></script>
<script type="text/javascript" src="{% static "js/yelp_hotel.js" %}"></script>
<script type="text/javascript" src="{% static "js/yelp_food.js" %}"></script>


<script type="text/javascript">

   
</script>
{% endaddtoblock %}


<div id="overlay-panel-wrapper">
  <div id="overlay-panel">
    <div>
    <div id="overlay-content">
    </div>
    </div>
  </div>
</div>

<div>
  <div class="infobox-label hidden">
    <p class="infobox-title-cn"></p>
    <p class="infobox-title-en"></p>
  </div>
</div>

<div id='top-nav-area'>
  <ul id='top-nav'>
{% getParks as parks %}
{% for park in parks %}
    <li class="park-button">
      <a class='park-name' href="./?park={{ park.id }}">{{ park.name_cn }}</a> 
    </li>
{% endfor %}
  </ul>
</div>

  
{% getPark request as park %}
{% if park %}

<div id="park-info">
  <span id="park-gps-coordinate">{{ park.center_gps_coordinate }}</span>
  <span id="park-zoom">{{ park.zoom }}</span>
  {% getParkMap park as map %}
  <span id="park-map-filename">{% static "img/maps/" %}{{ map.filename }}</span>
  <span id="park-map-sw-bound">{{ map.gps_southwest_bound }}</span>
  <span id="park-map-ne-bound">{{ map.gps_northeast_bound }}</span>
</div>

<div class="sidebar-poi">
  <div class="sidebar-panel-poi">
    <div id="poi-control-panel">
{% comment %}
        <a href="javascript:" id="sidebar-back">后退</a>
        <a href="javascript:" id="sidebar-forward">前进</a><br>
{% endcomment %}
      <a href="javascript:" id="show-all-pois">显示所有景点</a>
      {% if map %}
        <a href="javascript:" id="show-official-map">官方地图</a>
      {% endif %}
    </div>

{% comment %}
      <div class="sidebar-item-list">
          <div class="poi-item">
            <button class="poi-button">
              <p class="poi-name">Yosemite</p>
              <p class="poi-name-en">yose</p>
              <span class="coordinate"></span>
            </button>
            <button class="zoom-button">+</button>
          </div>
      </div>
{% endcomment %}

    <div id="poi-list-container">
      <div class="poi-list">
        {% getPOIs park as pois %}
        {% for poi in pois %}
          <div class="poi-item">
            <span class="poi-id">{{ poi.id }}</span>
            <button class="poi-button">
              <p class="poi-name">{{ poi.name_cn }}</p>
              <p class="poi-name-en">{{ poi.name_en }}</p>
              <span class="coordinate">{{ poi.gps_coordinate }}</span>
            </button>
            <button class="zoom-button" >
              <img class="icon-pic" src="/static/img/zoom12.svg"></img>
            </button>
            {% getTrails poi as trails %}
            {% if trails|length > 0 %}
              <div class="poi-info">
              {% for trail in trails %}
                <div class="trail-item">
                  <div class="trail-name">{{ trail.name_cn }}</div>
                  <div class="trail-route">{{ trail.routes }}</div>
                </div>
              {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="poi-empty-item"></div>
      </div>
    </div>
  </div>
</div>

<div class="sidebar-food">
  <div class="sidebar-panel-food">
    <button id="show-all-food">显示所有餐馆</button>
    <div class="food-list">
        <div class="food-item">
          <button class="food-button">
            <p class="food-name">王妈大饼</p>
            <p class="food-name-en"></p>
            <span class="coordinate"></span>
          </button>
        </div>
    </div>
  </div>
</div>

<div class="sidebar-hotel">
  <div class="sidebar-panel-hotel">
    <button id="show-all-hotel">显示所有客栈</button>
    <div class="hotel-list">
        <div class="hotel-item">
          <button class="hotel-button">
            <p class="hotel-name">孙二娘客栈</p>
            <p class="hotel-name-en"></p>
            <span class="coordinate"></span>
          </button>
        </div>
    </div>
  </div>
</div>




<div id='side-nav'>
  <button class='side-nav-category'>
    <img class='icon-pic' src="/static/img/pins48.svg"></img>
    <br><hl>景点</hl>
  </button>
  <button class='side-nav-category'>
    <img class='icon-pic' src="/static/img/vintage2.svg"></img>
    <br><hl>拍照</hl>
  </button>
  <button class='side-nav-category'>
    <img class='icon-pic' src="/static/img/accomodation.svg"></img>
    <br><hl>客栈</hl>
  </button>
  <button class='side-nav-category'>
    <img class='icon-pic' src="/static/img/bon1.svg"></img>
    <br><hl>饕餮</hl>
  </button>
</div>

<div id='add-to-trip'>
	<button id='add-to-trip-button'>
		<p'>加入行程</p>
	</button>
</div>

<div id='show-direction'>
	<button id='show-direction-button'>
		<p'>显示路径</p>
	</button>
</div>


<div id='info-panel'>
  <p id='item-name'>您目前旅程：</p>
</div>

<div id="map-window">
  <div id="map-canvas">
  </div>
</div>

{% endif %}

{% endblock %}
