{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags roadtrip_tags %}


{% block "content" %}

{% addtoblock "css" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4y5vgVMb3bcqjYsaYJzJphjJdvnJBr6U&sensor=true&language=zh"></script>
<script type="text/javascript">
  var map;
  var markers = new Array();
  var infowindows = new Array();
  var activeMarker = null;
  var directionsService = new google.maps.DirectionsService();  
  var directionsDisplay;

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(37.849923, -119.567666),
      zoom: 10
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    directionsDisplay = new google.maps.DirectionsRenderer({
      suppressMarkers: true,
      preserveViewport: true
    });
    var chicago = new google.maps.LatLng(41.850033, -87.6500523);
    var mapOptions = {
      zoom:7,
      center: chicago
    }
    directionsDisplay.setMap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function calcRoute(start, end) {
    //var start = new google.maps.LatLng(37.716753,-119.646505);
    //var end = new google.maps.LatLng(37.755018, -119.597297);
    var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
        //console.log(response);
      }
    });
  }

  $(".poi-button").each(function(index) {
      var coordinate = $(this).find("> .coordinate").html().split(",");
      var lat = parseFloat(coordinate[0]);
      var lng = parseFloat(coordinate[1]);
      var name = $(this).find("> .poi-name").html();
      //console.log(name);

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        visible: false
      });
      markers[index] = marker;

      var infowindow = new google.maps.InfoWindow({
        content: name,
        disableAutoPan: true
      });
      infowindows[index] = infowindow;

      try {
        $(this).click(function () {
          clearMap();
          marker.setVisible(true);
          marker.setMap(map);
	  document.getElementById("item-name").innerHTML = name;
          activeMarker = markers[index];
          map.panTo(marker.position);
          infowindow.open(map, marker);
        }); 
        $(this).mouseover(function () {
          if (activeMarker != marker && !marker.getVisible()) {
            marker.setVisible(true);
            marker.setMap(map);
            infowindow.open(map, marker);
          }
          //if (activeMarker != null && activeMarker != marker) {
            //calcRoute(activeMarker.position, marker.position);
          //}
        }); 
        $(this).mouseout(function () {
          if (activeMarker != marker) {
            marker.setVisible(false);
            infowindow.close();
            directionsDisplay.setMap(null);
          }
        }); 
      }catch(e){}
  });

  $(".trail-item").each(function(index) {
      var route_lines = [];
      var bounds = null;
      var node = $(this);

      var getRouteLinesAndBounds = function()
      {
        if (route_lines.length > 0) return;
        var routes = getRoute(node.find("> .trail-route").html());
        route_lines = getRouteLines(routes);
        bounds = getRouteBounds(routes);
      };

      try {
        $(this).click(function () {
          getRouteLinesAndBounds();
          map.fitBounds(bounds);
        }); 
        $(this).mouseover(function () {
          getRouteLinesAndBounds();
          route_lines.forEach(function(line){ line.setVisible(true); });
        }); 
        $(this).mouseout(function () {
          route_lines.forEach(function(line){ line.setVisible(false); });
        }); 
      }catch(e){}
  });

  function getRoute(trail_route, bounds)
  {
    var steps = trail_route.split("|");
    var route = []; 
    var route_line = [];

    for (var i = 0; i < steps.length; ++i)
    {
      var coordinates = steps[i].split(";");
      var leg = [];
      for (var j = 0; j < coordinates.length; ++j)
      {
        var latlng_str = coordinates[j].split(",");
        var latlng = new google.maps.LatLng(latlng_str[0].split("(")[1], latlng_str[1].split(")")[0]);
        leg.push(latlng);
      }
      route.push(leg);
    }
    return route;
  }

  function getRouteLines(route)
  {
    var route_line = [];
    for (var i = 0; i < route.length; ++i)
    {
      var path = new google.maps.Polyline({
        path: route[i],
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 0.5,
        strokeWeight: 3
      });
      path.setMap(map);
      route_line.push(path);
    }
    return route_line;
  }

  function getRouteBounds(route)
  {
    console.log(route[0]);
    var west = route[0][0].lng(), east = west,
        north = route[0][0].lat(), south = north;
    for (var i = 0; i < route.length; ++i)
      for (var j = 0; j < route[i].length; ++j)
      {
        west = Math.min(west, route[i][j].lng());
        east = Math.max(west, route[i][j].lng());
        north = Math.max(north, route[i][j].lat());
        south = Math.min(south, route[i][j].lat());
      }
    console.log(west+east);
    return new google.maps.LatLngBounds(
      new google.maps.LatLng(south, west),
      new google.maps.LatLng(north, east));
  }

  function clearMap() {
    activeMarker = null;
    for (var i = 0; i < markers.length; i++) {
      markers[i].setVisible(false);
      infowindows[i].close();
    }
  }

  $(".poi-button").each(function() {
      try {
      $(this).click(function () {
          $(this).next().next().slideToggle("200", "swing");
      }); 
      }catch(e){}
  });

  var prior_zoom;
  var prior_center;
  $(".zoom-button").each(function(index) {
      try {
      $(this).click(function () {
        if ($(this).html() == "+")
        {
          var current_button = $(this);
          var update_center = true;
          $(".zoom-button").each(function(index) {
            if ($(this) != current_button && $(this).html() == "-")
            {
              $(this).html("+");
              update_center = false;
            }
          });

          markers[index].setVisible(true);
          markers[index].setMap(map);
          infowindows[index].open(map, markers[index]);
          if (update_center)
          {
            prior_center = map.getCenter();
            prior_zoom = map.getZoom();
          }
          //center = map.setCenter();
          map.setCenter(markers[index].getPosition());
          map.setZoom(15);


          $(this).html("-");
        }
        else
        {
          map.setZoom(prior_zoom);
          map.setCenter(prior_center);
          $(this).html("+");
          if (markers[index] != activeMarker)
          {
            markers[index].setVisible(false);
            infowindows[index].close();
          }
        }
      }); 
      }catch(e){}
  });

 $(".park-button").each(function() {
      try {
      $(this).click(function () {
          $(this).children('park-name').css("color", "#accc39");
      }); 
      }catch(e){}
  });

</script>
{% endaddtoblock %}

<div id='side-nav'>
{% getParks as parks %}
{% for park in parks %}
  <button class="park-button">
  <a class='park-name' href="./?park={{ park.park_id }}">{{ park.name_cn }}</a> 
  </button>
{% endfor %}
</div>

  
{% getParkSlug request as slug %}
{% if slug != "" %}

<div id="sidebar">
  <div id="sidebar-panel">
    <div id="poi-list">
      {% getPOI slug as pois %}
      {% for poi in pois %}
        {% if poi.poi_type == "POI" %}
        <div class="poi-item">
          <button class="poi-button">
            <span class="poi-name">{{ poi.name_cn }}</span>
            <span class="coordinate">{{ poi.gps }}</span>
          </button>
          <button class="zoom-button">+</button>
          {% if poi.trails|length > 0 %}
            <div class="poi-info">
            {% for trail in poi.trails %}
              <div class="trail-item">
                <div class="trail-name">{{ trail.name_cn }}</div>
                <div class="trail-route">{{ trail.routes }}</div>
              </div>
            {% endfor %}
            </div>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
{% comment %}
    <div id="trail-list">
      {% getPOI request.current_page.get_slug as pois %}
      {% for poi in pois %}
        {% if poi.poi_type == "TRAIL" %}
        <div class="trail-item">
          <span class="trail-name">{{ poi.name }}</span>
          <span class="trail-route">{{ poi.route }}</span>
        </div>
        {% endif %}
      {% endfor %}
    </div>
{% endcomment %}
  </div>
</div>

<div id='info-panel'>
  <p>Current trail:</p>
  <p id='item-name'></p>
</div>

<div id="map-window">
  <div id="map-canvas">
  </div>
</div>

{% endif %}

{% endblock %}
