{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags roadtrip_tags %}


{% block "content" %}

{% addtoblock "css" %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
    #sidebar { float: left; height: 100%; width: 300px; }
    #poi-list li { cursor:pointer; }
    #poi-list li:hover { text-decoration:underline; }
    .coordinate { display:none; }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4y5vgVMb3bcqjYsaYJzJphjJdvnJBr6U&sensor=true&language=zh"></script>
<script type="text/javascript">
  var map;
  var start = null;
  var end = null;
  var markers = [];
  var directionsDisplays = [];
  var directionsService = new google.maps.DirectionsService();  
  var trail = "";
  var dist = 0.;
  var duration = 0.;

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(37.849923, -119.567666),
      draggableCursor: 'default',
      zoom: 10
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    var chicago = new google.maps.LatLng(41.850033, -87.6500523);
    var mapOptions = {
      zoom:7,
      center: chicago
    }

    google.maps.event.addListener(map, 'click', addLatLng);
  }
  google.maps.event.addDomListener(window, 'load', initialize);


  function addLatLng(event) {
    if (start != null && end != null )
    {
      start = end;
      end = null;
    }
    // Add a new marker at the new plotted point on the polyline.
    var marker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    markers.push(marker);

    if (start == null)
      start = event.latLng;
    else if (end == null) {
      end = event.latLng;
      calcRoute(start, end);
    }
  }

  function getRouteString(route)
  {
    for (var i = 0; i < route.legs.length; i++)
    {
      var steps = route.legs[i].steps;
      dist += route.legs[i].distance.value;
      duration += route.legs[i].duration.value;
      for (var j = 0; j < steps.length; j++)
      {
        if (j != 0 || trail != "") trail += '|';
        for (var k = 0; k < steps[j].path.length; k++)
        {
          if (k != 0) trail += ';';
          trail += steps[j].path[k];
        }
      }
    }
    return dist + '\t' + duration + '\t' + trail;
  }

  function calcRoute(start, end) {
    //var start = new google.maps.LatLng(37.716753,-119.646505);
    //var end = new google.maps.LatLng(37.755018, -119.597297);
    var directionsDisplay = new google.maps.DirectionsRenderer({
      suppressMarkers: true,
      preserveViewport: true
    });
    directionsDisplay.setMap(map);
    directionsDisplays.push(directionsDisplay);

    var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setMap(map);
        directionsDisplay.setDirections(response);
        $("#info").html(getRouteString(response.routes[0]));
        //console.log(response.routes[0].copyrights);
      }
    });
  }

  function clearMap() {
    for (var i = 0; i < directionsDisplays.length; i++)
      directionsDisplays[i].setMap(null);
    for (var i = 0; i < markers.length; i++)
      markers[i].setMap(null);
    $("#info").html("");
    start = end = null;
    trail = "";
    dist = 0.;
    duration = 0.;
  }

  $("#reset").click(clearMap);
</script>
{% endaddtoblock %}

<div id="sidebar">
<button type="button" id="reset" style="width:50px;height:20px;margin:10px;">Reset</button>
<br>
<textarea id="info" rows="50">
</textarea>
</div>

<div id="map-canvas">
</div>

{% endblock %}
