{% load roadtrip_tags static %}

<div class="info-panel-top-bar">
  <button class="close-info-panel"><span>消失</span></button>
</div>
<div class="info-panel-title">
  <p class="title">目前行程：{{ trip.trip_name }}</p>
</div>
<div class="info-panel-image">
  <img src="/static/img/on_the_road.jpg" width=960>
</div>
<div class="info-panel-body">
  {% for poi in trip_pois %}
    <div class="itinerary-waypoint-view">
      <img src="/static/icon/arrow457.svg" style="height:35px">
      <span class="itinerary-waypoint-name">{{ poi.name_cn }}</span>
      <span class="itinerary-waypoint-name">{{ poi.name_en }}</span>
      <p class="itinerary-waypoint-gps">{{ poi.gps_coordinate }}</p>
    </div>
    <div class="itinerary-leg-view">
      <span class="duration"></span>
      <span class="distance"></span>
    </div>
  {% endfor %}
</div>
